#menubar{
	opacity: 1;
	width: 100%;
	z-index: 30;
	position: absolute;
  	top: 0;
}
/*
nav {
    text-align:center;   
    display:block;
}
nav div {
    list-style-type:none;
    display:inline-block;
    padding:2% 2% 2%;
}
nav a {
	color:#fff;
    font-size: 1.3em;
    font-weight: normal;
    font-family:'Oswald';
}

nav  :hover {
    text-decoration:none;
    color:yellow;

}
*/

#menu {
    width:100%;
    background-color:#2F74A8;
    color:#FFF;
    display:none;
    margin-bottom: 0;
}
#menu p {
    width:80%;
    margin:auto;
    cursor:pointer;
    padding:5px;
}

@media screen and (max-width:650px) {

    nav {
        text-align:left;
        display:none;
    }
    nav ul {
        width:80%;
        margin:auto;
        text-align:left;
    }
    nav li {
        display:block;
        padding:15px 0;  
    }
    #menu {
        display:block;
    }
    .expanded {
    display:block;
    }
}