@font-face {
    font-family: BACK TO BLACK DEMO;
    src: url('./Font/BACK TO BLACK DEMO.TTF');
}
@font-face {
    font-family: Oswald-ExtraLight;
    src: url('./Font/Oswald-ExtraLight.ttf');
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
